body {

}

.container {
    width: 10%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    height: 400px;
    width: 500px;
    background-image: ur('./planetas.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}